.form-container {
  display: flex;
  justify-content: center;
}
.form {
  border: 1px solid rgba(102, 99, 99, 0.1);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 30rem;
  min-width: 20rem;
}

.input-div {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;

}

.label {
    font-size: 1.2rem;
    font-family: var(--font-body);
}

.input {
    border-radius: 6px;
    border: 1px solid var(--color-primary);
    padding: 0.5rem;
    font-family: var(--font-body);
}

.btn-submit {
  max-width: 10rem;
  align-self: center;
  padding: 8px;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
  color: aliceblue;
  font-size: 1rem;
  border-radius: 1rem;

  &:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    transition: 0.3s ease-in-out;
  }
}

.btn-submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 0.8rem;
}
