
.articles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(102, 99, 99, 0.1);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  padding: 1.2rem 2rem;

  height: 10rem;
}

.article h3 {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 400;
  text-wrap: pretty;
  color: var(--color-secondary);
  width: 100%;
}

.article .info {
  display: flex;
  font-size: 0.8rem;
  gap: 1rem;
  padding-top: 1rem;

  .date {
    padding-top: 0.2rem;
  }

  .category {
    border-radius: 9px;
    padding: 0.2rem 0.5rem;
    color: aliceblue;
  }
}

.category-tecnologia .category {
  background-color: rgb(167, 87, 243);
}

.category-musica .category {
  background-color: rgb(43, 226, 168);
}

.category-arte .category{
  background-color: rgb(235, 221, 63);
}

.category-deportes .category{
  background-color: rgb(208, 122, 190);
}
